# Directory (contents) ignores
.cloud
.storage
deps

# Generic ignores
*.log*
*.db
*.db-shm
*.db-wal
*.pyc
*.pickle
._*
__pycache__

# Specific file ignores
.DS_Store
secrets.yaml
nest/event_media/
image/*

# Ignore files created by IDE's
.vscode

# Specific keeps
!.gitkeep
!.gitignore